%p#notice= notice

%p
  %b タイトル:
  = @event.title
%p
  %b 詳細:
  = @event.body
%p
  %b 開始時間:
  = @event.start_date
%p
  %b 終了時間:
  = @event.end_date

= link_to 'Edit', edit_event_path(@event), class:"btn"
\|
= link_to 'Back', events_path,class:"btn"
